.ContainerCard{
   width: 250px;
   position: relative;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   padding-top: 20px;
   
}

.card{
    position:relative;
    background: radial-gradient(circle at 50% 0%, orange 36%, #ffffff 36%);
    width: 250px;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.ImageCard{
  display:block;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 20px auto;
}

.poke-name{
    text-align: center;
    font-weight: 600;
}

.TypesCard{
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.linkCard{
    text-decoration: none;
    color:black
}