.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
  text-decoration: none;
}

.imageNavBar{
  width: 150px;
  height: 75px;
}

.Links{
  text-decoration: none;
}
